# Logs
**/logs
**/idea
*.helper
frontend/npm-debug.helper*
frontend/yarn-debug.helper*
frontend/yarn-error.helper*
frontend/pnpm-debug.helper*
frontend/lerna-debug.helper*

./backend/.status

.env.prod
backend/configs/production.yaml
frontend/dist.tar.gz
frontend/dist
dist.tar.gz
node_modules

dist-ssr
.local.release

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*/.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Reference https://github.com/github/gitignore/blob/master/Go.gitignore
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
vendor/

# Go workspace file
go.work

# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# OS General
Thumbs.db

# project
*.cert
*.key
bin/

# Develop tools
.vscode/
.idea/
*.swp
