services:

  user:
#    image: ecommence/users:prod
#    pull_policy: build
    platform: linux/amd64
    build:
      dockerfile: .
      context: .
    ports:
      - "30001:30001"
      - "30002:30002"
    container_name: ecommence-user-v1
    restart: always
    environment:
      - DB_SOURCE="postgresql://postgres:postgres@192.168.3.121:5432/ecommence?sslmode=disable&timezone=Asia/Shanghai"
      - REDIS_ADDRESS=192.168.3.132:6379
      - REDIS_USERNAME=default
      - REDIS_PASSWORD=msdnmm
    command:
      - "/bin/user"
      - "-conf"
      - "/bin/configs"
